body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    color: #333;
    margin-top: 20px;
}

.card {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin: 20px auto;
    padding: 20px;
    max-width: 800px;
}

.list {
    list-style-type: none;
    padding: 0;
}

.list li {
    margin-bottom: 10px;
}

#logout-btn {
    position: absolute;
    top: 10px;
    right: 20px;
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#logout-btn:hover {
    background-color: #555;
}

.delete-user-btn{
     background-color: #dc3545;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 8px 15px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-left: 230px;
    transform: translateY(-50%);
}
.delete-blog-btn {
    background-color: #dc3545;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 8px 15px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.delete-user-btn:hover,
.delete-blog-btn:hover {
    background-color: #6f0b15;
}

.user-details {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.user-details,
.blog-title {
    font-weight: bold;
}

.blog-content {
    margin-bottom: 10px;
}

.blog-title {
    font-size: 1.2rem;
}
